{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<h3>{{ post.title }}</h3>
<p><i>Luonut</i> {{ post.username }} <i>aikaan</i> {{ post.time.strftime("%d.%m.%Y %H:%M") }}</p>

<p>{{ post.message }}</p>
<br>
<hr>

{% if session.username %}
    <form action="/posts/{{ post.id }}" method="POST" onsubmit="return check(this)">
        Kommentoi keskustelua <br>
        <textarea name="comment" rows="5" cols="50"></textarea>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}
<br>
{% for comment in comments %}
    <hr>
    {{ comment.username }} <i>vastasi aikaan</i> {{ comment.time.strftime("%d.%m.%Y %H:%M") }}:
    <br>
    <br>
    {{ comment.message }}
    <br>
    <br>

{% endfor %}
<hr>
<br>
<a href="/topics/{{ post.topic }}">Takaisin alueelle <i>{{ post.topic }}</i></a>

<script>
    function check(form) {
        if (form.comment.value.length > 5000) {
            alert("Viesti saa olla enintään 5000 merkkiä pitkä");
            return false;
        }
        if(!form.comment.value) {
            return false;
        }
    return true;
    }
</script>
{% endblock %}