{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<h3>{{ post.title }}</h3>
<h6><i>Luonut</i> <a href="/user/{{post.username}}">{{ post.username }}</a> <i>aikaan</i> {{ post.time.strftime("%d.%m.%Y %H:%M") }}</h6>

{% if img %}
    <p>Kuva:<a href="/showimage/{{img.id}}">{{img.name}}</a></p>
{% endif %}
<p>{{ post.message }}</p>
<br>
{% if (session.username == post.username) or user_is_admin %}
    <form action="/deletepost" method="POST" onsubmit="return areYouSure()">
        <input type="submit" class="button" value="Poista keskustelu">
        <input type="hidden" name="post_to_delete" value="{{ post.id }}">
        <input type="hidden" name="to_redirect" value="/topics/{{ post.topic }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endif %}
<hr>
{% if session.username %}
    <form action="/posts/{{ post.id }}" method="POST">
        <i>Kommentoi keskustelua:</i> <br>
        <textarea name="comment" id="comment" rows="5" cols="50" maxlength="5000"></textarea>
        <input type="submit" class="button" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% else %}
    <p><i>Kirjaudu sisään kommentoidaksesi keskustelua.</i></p>
{% endif %}

<br>
{% for comment in comments %}
    <hr>
    <h6>{{ comment.username }} <i>vastasi</i> {{ comment.time.strftime("%d.%m.%Y %H:%M") }}:</h6>
    <br>
    {{ comment.message }}
    <br>
    <br>
    {% if (comment.username == session.username) or user_is_admin %}
        <form action="/deletecomment" method="POST" onsubmit="return areYouSureComm()">
            <input type="submit" class="button" value="Poista kommentti">
            <input type="hidden" name="comm_to_delete" value="{{ comment.id }}">
            <input type="hidden" name="to_redirect" value="/posts/{{ post.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}

{% endfor %}
<hr>
<br>
<a href="/topics/{{ post.topic }}">Takaisin alueelle <i>{{ post.topic }}</i></a>


<script>
    // this doesn't alert for some reaosn
    function check(form) {
        alert(form.comment.value, form.comment.value.length)
        if (!form.comment.value.trim()) {
            alert("Viesti ei saa olla tyhjä")
            return false;
        }
        return true;
    }
    function areYouSure(form) {
        return confirm(`Haluatko varmasti poistaa tämän keskustelun? Sitä ei voi palauttaa poiston jälkeen.`)
    }
    function areYouSureComm(form) {
        return confirm(`Haluatko varmasti poistaa tämän kommentin? Sitä ei voi palauttaa poiston jälkeen.`)
    }
</script>

{% endblock %}
