{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Keskustelunaiheet:</h2>
<hr>
{% for t in topics %}
    <h2>{{ t.topic }}</h2>
    {{ t.count }} avointa keskustelua 
    <br>
    <h4>
    {% if posts[t.id].title == null %}
        Aihealueella ei ole vielä keskusteluja.
    {% else %}
        Uusin keskustelu:
        <a href="/posts/{{ t.max }}">{{ posts[t.id].title }}</a>
    {% endif %}</h4>
    <br>
    <a href="/topics/{{ t.topic }}"> Siirry aiheauleelle</a>
    <hr>

{% endfor %}
<br>
{% endblock %}