{% extends "layout.html" %}
{% block title %}Luo uusi{% endblock %}
{% block content %}

Hae sivustolta:

<form action="/search" method="POST">
    <textarea name="keyword" rows="1" cols="50" maxlength="50" required></textarea>
    <select name="search_items" id="user">
        <option value="all">kaikki</option>
        <option value="topics">keskustelunaiheet</option>
        <option value="posts">keskustelut</option>
        <option value="users">käyttäjät</option>
    </select>
    <input type="submit" class="btn btn-primary" value="Hae">
</form>

<h4>Hakutulokset:</h4>

{% if result %}

    {% for row in result %}
        <br>
        <h3>
        {% if not row.link %}
            <p>{{ row.name }}</p>
        {% else %}
            <a href="{{ row.link }}">{{ row.name }}</a>
        {% endif %}
        </h3>
    {% endfor %}
    <br>
{% endif %}

{% endblock %}

<script>
    function check() {

    }
</script>