{% extends "layout.html" %}
{% block title %}{{ topic }}{% endblock %}
{% block content %}
<h1>{{ topic }}</h1>

{% for post in posts %}
    <a href="/posts/{{ post.id }}"><h2>{{ post.title }}</h2></a>
    <p><i>Käyttäjältä</i> {{ post.username }}</p>
    <p><i>Luotu {{ post.time.strftime("%d.%m.%Y %H:%M") }}</i> </p> 
    {% if post.message %}
        <p><i>Viimeisin viesti lähetetty {{ post.comm_time.strftime("%d.%m.%Y %H:%M") }}:</i> "{{ post.message }}" </p>
    {% else %}
        <p><i>Keskustelussa ei vielä ole vastauksia.</i></p>
    {% endif %}
{% endfor %}

<br>
<br>
{% endblock %}

{% block footer %}
<a href="/">Takaisin etusivulle</a>
{% endblock %}