{% extends "layout.html" %}
{% block title %}{{ topic }}{% endblock %}
{% block content %}

{% if not_logged_in %}
    <i>Kirjaudu sisään katsellaksesi käyttäjien tietoja.</i>
{% else %}

    <h2> {{ username }} </h2>
    
    {% if session.username == username %}
    <form action="/deleteuser" method="POST" onsubmit="return areYouSure(this)">
        <input type="hidden" name="todelete" value="{{username}}">
        <input type="submit" class="button" value="Poista">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
    
    <hr>
    <h3>Käyttäjän keskustelut:</h3>
    {% for p in user_posts %}
        <a href="/posts/{{ p.id }}"><h3>{{ p.title }}</h3></a>
        <p><i>Luotu {{ p.time.strftime("%d.%m.%Y %H:%M") }}</i> <i>alueella </i>
            <a href="/topics/{{ p.topic }}">{{ p.topic }}</a></p>
        <p>{{ p.message }}</p>
        <hr>

    {% endfor %}

    {% if not user_posts %}
        <i>Käyttäjä {{ username }} ei ole vielä luonut keskusteluja.</i>
    {% endif %}

{% endif %}
{% endblock %}

<script>
    function areYouSure(form) {
        return confirm("Haluatko varmasti poistaa käyttäjätilisi? Et voi saada sitä enää takaisin.")
    }
</script>
